* {
  padding: 0;
  margin: 0;
  font-family: Calibri;
}

:root{
  --headerColor:#3E514F;
  --sectionBackground: #303338;
  --fontColor: #ddd;
  --footerBackground: #eee;
  --fontSize: 2em;
}

.warning{
  width: 100%;
  height: 50px;
  background-color: #f4c842;
  font-size: 120%;
  text-align: center;
  position: relative;
}

p i{
 font-size: 1.3em;
 position: absolute;
 right:3px;
 top: 3px; 
}

i:hover{
  cursor: pointer;
}


main {
  width: 100%;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: var(--headerColor); 
  color: white;
}

nav{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  color: white;
}

article{
  width: 80%;
  margin:0 auto;
  text-align: justify;
}
h1,h2{
  text-align: center;
  margin: 20px 0px;
}

h1{
  font-size: var(--fontSize);
}

h2{
  font-size: var(--fontSize);
}

p{
  padding: 20px;
  margin-bottom: 5rem;
}

.coffeIcon{
  text-align: center;
}

section::after {
  content: "";
  display: block;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
}
section:nth-child(1)::after {
  height: 25rem;
  background-image: url('../images/nathan-dumlao-607604-unsplash.jpg');
  background-attachment: scroll	;
  background-size: cover;
}
section:nth-child(2)::after {
  height: 25rem;
  background-image: url("../images/ola-mishchenko-606865-unsplash.jpg");
  background-attachment: scroll;
  background-size: cover;
}
section:nth-child(3)::after {
  height: 50vh;
  background-image: url("../images/nathan-dumlao-290152-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
}

h2:last-of-type{
  margin-top: 0px;
  padding-top: var(--fontSize)
}

p:last-of-type{
  margin-bottom: 0px;
  padding-bottom: 5rem;
}

section:nth-child(4){
  background: var(--sectionBackground);
  color: var(--fontColor);
}

footer{
  background-color: var(--footerBackground);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}