nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block;

   }



  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;

		}
    	&:hover{
			color:red;
    	}
 	}

 	li:nth-of-type(2){
			background-color:green;
}