div.button{
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
button{
	color:tomato;
	font-size: 1.2rem;
	border: 1px solid black;
	background-color: lightgrey;
	width: 50%;
	height: 2rem;
	transition: color 1s, background-color 1s, width 1s;
}

button:hover{
	width: 80%;
	color:lightgray;
	background-color:tomato;
}

.myBox{
	height: 50px;
	width: 150px;
	color: white;
	background-color: red;
	line-height: 50px;
	margin-bottom: 2px;
}



.box{
	margin-left: 0%;
	height: 50px;
	width: 50px;
	background-color: lightgreen;
	margin-bottom: 2px;
}
.myBox:hover ~ .box1{
	width: 100%;
	transition: width 5s linear ;
}
.myBox:hover ~ .box2{
	width: 100%;	
	transition: width 5s ease 1s;
}
.myBox:hover ~ .box3{
	width: 100%;	
	transition: width 5s ease-in;
}
.myBox:hover ~ .box4{
	width: 100%;	
	transition: width 5s ease-out;
}