* {
    font-family: 'Cabin', sans-serif;
}

.modalButton{
    padding: 10px;
    background-color: darkgreen;
    color: white;
    font-size: 1.1em;
    transition: 0.5s;}
.modalButton:hover{
    background-color: white;
    color: darkgreen;}
.modalParent {
    display: none; 
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    /* overflow: auto;  */
    background-color: rgba(0,0,0,0.9);
}

.modalChild {
    position: relative;
    background-color: lightblue;
    margin: 100px auto;
    padding: 20px;
    border: 3px dashed green;
    width: 70%;
}

.closeButton {
    position: absolute;
    right: 5px;
    top: 2px;
    font-size: 28px;
    font-weight: bold;
}

.closeButton:hover{
    cursor: pointer;
}

.theBall{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: red;
    border: 1px solid black;
    animation-name: moveBall;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
    transition: 2s;
}

@keyframes moveBall{
    from{ margin-left: 10%; }
    to{ margin-left: 60%; } 
}