ul{
	padding:0px;
}

a{
	text-decoration:none;
	color:grey;
}

li{
	display: inline-block;
	width: 24%;
	background-color: yellow;
	border: 1px solid black;
	box-sizing: border-box;
	text-align: center;
}

a:hover{
	text-decoration: underline;
	color:black;
	cursor:progress;

}




