*{margin:0px 3%;
	padding: 0px;}

a{  font-size: 32px;
	text-decoration: none;}

li{	list-style-type: none;
	float:left;
	width: 10%;}

nav{position: sticky;
	top:0px;
	background-color: rgba(0,0,0,0.4);}

nav::after{	content:"";
			display:block;
			clear:left;
			margin-bottom: 25px;}

/*nav::before{
	content:"";
	display:block;
	clear:both;
	margin-bottom: 25px;
}*/

p{
	line-height: 30px;
}

