li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
a:link{
	background-color: yellow;
}
a:visited{
	background-color: grey;
}
a:hover{
	color:black;
	background-color: white;
}
a:active{
	background-color:green;
}


